/*!
 * This file is part of App Builder
 *
 * ©2018 App Builder - https://www.davidesperalta.com
 */
/* Código CSS auto generado para la app */

html, body { width: 320px; height: 480px; }

#IFrame1 { position: absolute; top: 3.33%; left: 0.00%; width: 96.25%; height: 94.58%; }
